<div id="reload">
<% if current_user.have_read?(news_feed) %>
<div id = 'overlay'>
<%end%>
<div class="well">
    <div class="media">
      <a class="pull-left" href="<%=news_feed.url%>%">
        <% if news_feed.image_url != nil &&  news_feed.image_url != ""%>
          <%= image_tag news_feed.image_url, :class => "media-object", :width => "150", :height => "150" %>
        <% else %>
          <%= image_tag 'news-default.jpeg', :class => "media-object", :width => "150", :height => "150" %>
        <% end %>
  		</a>
  		<div class="media-body">
    		<h4 class="media-heading"><%= link_to news_feed.title, read_path(:news_feed_id => news_feed.id), method: :post,remote: true %></h4>
          <p><%= raw (truncate("#{news_feed.description}",length: 100) { link_to "Continue", "#{news_feed.url}" , target: :_blank})%></p>
          <ul class="list-inline list-unstyled">
  			    <li><span><i class="glyphicon glyphicon-calendar"></i> <%= time_ago_in_words(news_feed.published_on) %> ago. </span></li>
             <li>|</li>
            <span><i class="glyphicon glyphicon-folder-open"></i> <%= NewsHub.find_by(id: news_feed.news_hub_id).name %></span>
			    </ul>
       </div>
    </div>
</div>
<% if current_user.have_read?(news_feed) %>
</div>
<%end%>
</div>